 
 html, body {
  background-color: gainsboro;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
}


body * {
  font-family: sans-serif;
  box-sizing: border-box;

}
#root {
  width: 100%;
  height: 100%;


}
.nav-bar {
  background-color: rgb(179, 175, 175);
  display: flex;
  justify-content: space-around;
  height: 3rem;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}


.nav-bar > li {
  list-style: none;
}
.nav-bar a {
  color: black;
}

.no-view {
  width: 100%;
  height: 70%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.no-view * {
  margin: 0;
}
.no-view p {
  text-align: center;
  font-size: 2rem;
}
 /* button styling */


.add-btn {
  background-color: rgb(5, 184, 255);
  border: none;
  border-radius: 12px;
  color: cornsilk;
  text-align: center;
  width: 10rem;
  height: 3.5rem;
  outline: none;
}
.add-btn { transition: all .2s ease-in-out; }
.add-btn:hover { transform: scale(1.1); }
 
/* #all-campus-view {
  width: fit-content;
} */
/* .campus-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
} */
/* .campus-card {
  list-style: none;
  background-color: rgb(179, 175, 175);
  display: flex;
  height: 18rem;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 40%;
} */
/* .campus-img {
  height: 12rem;
  width: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem
} */
/*

.campus-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
}
.campus-card {
  list-style: none;
  background-color: rgb(179, 175, 175);
  display: flex;
  height: 18rem;
  margin-left: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 40%;
}
.campus-card-info {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.all-campus-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
.add-btn {
  background-color: rgb(5, 184, 255);
  border: none;
  border-radius: 12px;
  color: cornsilk;
  text-align: center;
  width: 10rem;
  outline: none;
}
.campus-card-tools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.all-students-header {
  display: flex;
  justify-content: space-between;
}
.student-list {
  display: flex;
  justify-content: space-around;
}
.student-list > li {
  background-color: rgb(179, 175, 175);
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  height: 15rem;
  width: 15rem;
}
.student-list img {
  height: 8rem;
  width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
form {
  display: flex;
  flex-flow: column;
}
form > input {
  width: 15rem;
  height: 2rem;
}
form > * {
  margin: 1rem;
}
.edit-student {
  display: none;
}
.edit-student-selected {

}
.update-student-main {
  display: flex;
  flex-flow: column;
}
.update-container {
  display: flex;
  justify-content: center;
}
.no-view {
 display: flex;
 justify-content: center;
 flex-flow: column;
 align-items: center;
 padding: 1rem;
 margin: 3rem
}
.no-view > button {
  margin: 2rem;
  padding: 0.5rem;
}

.add-view {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add-form {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: fit-content;
}
.add-view form > * {
  display: flex;
  flex: 1rem;
  justify-content: center;
  font-size: large;
}
.add-view form > section{
  display: flex;
  flex-flow: column;
}
.add-view button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn { transition: all .2s ease-in-out; }
.add-btn:hover { transform: scale(1.1); }
 */
