 
 html, body {
  background-color: gainsboro;
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 2em;
}

body * {
  font-family: sans-serif;
  box-sizing: border-box;

}
#root {
  width: 100%;
  height: 100%;

}


/* nav-bar */

.nav-bar {
  background-color: rgb(179, 175, 175);
  display: flex;
  justify-content: space-around;
  height: 3rem;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}


.nav-bar > li {
  list-style: none;
}
.nav-bar a {
  color: black;
}

/* No campuses and No students view */

.no-view {
  width: 100%;
  height: 70%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}
.no-view * {
  margin: 0;
}
.no-view p {
  text-align: center;
  font-size: 2rem;
}
 
/* button styling */

.add-btn {
  background-color: rgb(5, 184, 255);
  border: none;
  border-radius: 12px;
  color: cornsilk;
  text-align: center;
  width: 10rem;
  height: 3.5rem;
  outline: none;
}
.add-btn { transition: all .2s ease-in-out; }
.add-btn:hover { transform: scale(1.1); }

.delete-btn {
  background-color: rgb(223,70,97);
  border: none;
  height: 2rem;
}

/* add-campus and add-student view */

.add-view {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  padding-top: 2rem;
}
.add-view > form {
  padding-top: 0.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 70%;
  height: 100%;
}
.add-view > form > section {
  display: flex;
  flex-flow: column;
  padding: 1rem;
}
.add-view input {
  height: 2rem;
}

/* images */

.campus-img, .student-img {
  width: 100%;
  padding: 1rem;
}

/* all-campus-view */
#all-campus-view {
  
}
.all-campus-header, .all-students-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 0.5rem;
  height: 5rem;
}

.campus-list, .student-list{
  list-style: none;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding-inline-start: 0;
  padding: 1rem
}
.campus-card, .student-card {
  background-color: rgb(179, 175, 175);
  margin: 1rem 0;
}

.campus-card-info {
  display: flex;
  flex-flow: column;
}
.campus-card-info-name {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.campus-card-info-name h5 {
  margin-top: 0;
}
.campus-card-info-name a {
  color: rgb(22, 104, 255);
  font-weight: bolder;
}
.campus-card-tools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
}

/* all-student-view  */

.student-card-info {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.student-card-info button {
  margin-top: 1rem;
  width: 5rem;
}

/* update-campus */

#update-campus-view {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 50%;
}

#update-campus-view h1 {
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}
#update-campus-view form {
  width: 70%;
  display: flex;
  flex-flow: column;
  align-items:  center;
}
#update-campus-view section {
  display: flex;
  flex-flow: column;
  
}
#update-campus-view .add-btn {
  margin-top: 1.5rem;
}

/* single campus view  */

.campus-description {
  padding: 1rem 1rem;
}
.single-campus-info {
  display: flex;
  flex-flow: column;
}
.single-campus-name-bio {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.single-campus-name-bio h1 {
  margin: 0.5rem 1rem;
}
@media (min-width: 753px) {
  .add-view section {
    width: 50%;
  }
  #update-campus-view section {
    width: 50%;
  }
}
@media (min-width:777px) {
  /* allcampusview */
  .campus-img, .student-img {
    /* height: 150px;
    width: 250px; */
    height: 10rem;
    width: 15rem;
    padding: 1rem;
    padding-left: 0.5rem;

  }
  #all-campuses-view, .all-students-view{
    height: 100%;
  }
  .campus-list, .student-list {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    justify-content: stretch;
  }
  .campus-card, .student-card {
    width: 48.5%;
    height: fit-content;
    display: flex;
    margin: 0.5rem;
    justify-content: center;

  }
  .campus-card h2, .student-card h2 {
    font-size: medium;
  }
  .campus-card-info, .student-card-info{
    display: flex;
    justify-content: center;
  }
  .campus-card a , .student-card a{
    width: fit-content;
  }
  /* allstudentview */

}
/* #all-campus-view {
  width: fit-content;
} */
/* .campus-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
} */
/* .campus-card {
  list-style: none;
  background-color: rgb(179, 175, 175);
  display: flex;
  height: 18rem;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 40%;
} */
/* .campus-img {
  height: 12rem;
  width: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem
} */
/*

.campus-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: wrap;
}
.campus-card {
  list-style: none;
  background-color: rgb(179, 175, 175);
  display: flex;
  height: 18rem;
  margin-left: 8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 40%;
}
.campus-card-info {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.all-campus-header {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
}
.add-btn {
  background-color: rgb(5, 184, 255);
  border: none;
  border-radius: 12px;
  color: cornsilk;
  text-align: center;
  width: 10rem;
  outline: none;
}
.campus-card-tools {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.all-students-header {
  display: flex;
  justify-content: space-between;
}
.student-list {
  display: flex;
  justify-content: space-around;
}
.student-list > li {
  background-color: rgb(179, 175, 175);
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style: none;
  height: 15rem;
  width: 15rem;
}
.student-list img {
  height: 8rem;
  width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
form {
  display: flex;
  flex-flow: column;
}
form > input {
  width: 15rem;
  height: 2rem;
}
form > * {
  margin: 1rem;
}
.edit-student {
  display: none;
}
.edit-student-selected {

}
.update-student-main {
  display: flex;
  flex-flow: column;
}
.update-container {
  display: flex;
  justify-content: center;
}
.no-view {
 display: flex;
 justify-content: center;
 flex-flow: column;
 align-items: center;
 padding: 1rem;
 margin: 3rem
}
.no-view > button {
  margin: 2rem;
  padding: 0.5rem;
}

.add-view {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.add-form {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: fit-content;
}
.add-view form > * {
  display: flex;
  flex: 1rem;
  justify-content: center;
  font-size: large;
}
.add-view form > section{
  display: flex;
  flex-flow: column;
}
.add-view button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-btn { transition: all .2s ease-in-out; }
.add-btn:hover { transform: scale(1.1); }
 */
